@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
* {
  font-family: Arial, Helvetica, sans-serif;
}
*:focus {
  outline: none;
}
.flex {
  display: flex;
}
.flex-center-main {
  justify-content: center;
}

.flex-center-cross {
  align-items: center;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-evenly {
  justify-content: space-evenly;
}
.flex-end {
  justify-content: flex-end;
}
.flex-align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

/**********************
**********************
        DETAIL STYLES
**********************
**********************/
.detailbar {
  background: #f8f8f8;
  flex-basis: 80%;
  height: auto;
}
header {
  background: #eeeeee;
  position: sticky;
  top: 0;
  z-index: 1;
}
header a {
  text-decoration-line: none;
  color: #939faa;
}
header a:hover {
  text-decoration-line: none;
  color: #2b4054;
}
header nav {
  padding-right: 1em;
}
header nav div {
  padding: 1em;
}
header nav img {
  width: 2em;
  height: 2em;
  border-radius: 100%;
}

.chart > div {
  box-shadow: 1em 1em 2em #dae5e9;
  margin: 3em;
}
.chart > div h3 {
  text-align: center;
  padding: 1em;
  margin: 0px;
  color: #2b4054;
  border-bottom: #a1bad1 1px solid;
}

[class='.chart .flex-center-main'] {
  flex-basis: 90%;
}
rect {
  fill: transparent;
}
.summary {
  background: #f7f7f7;
}
.summary-item {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary-item p {
  font-size: x-small;
}
.summary-item * {
  margin: 0;
  color: #2b4054;
}
.border {
  border-right: #2b4054 1px solid;
}
.h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.table-home {
  height: 20em;
  overflow: scroll;
  width: 80%;

  margin: auto;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 1em #939faa;
  margin-bottom: 5em;
}
.table-title {
  background: #9cbcc6;
  margin: auto;
}
.table-item {
  margin: auto;
}
.table-wrapper {
  margin-top: 5em;
}
.table-wrapper h3 {
  text-align: center;
  padding: 1em;
  margin: auto;
  margin-bottom: 1em;
  width: 80%;
  color: #2b4054;
}
.table-wrapper div > p {
  flex-basis: 20%;
}
.table-wrapper a {
  text-decoration: none;
  color: #33485c;
}
.hover:hover {
  background: #9cbcc6;
  color: #f7f7f7;
}
.hover {
  border-bottom: #939faa 1px solid;
}
.single-trip-button {
  padding: 0.5em 1em;
  border-radius: 2em;
  border: none;
  background: #607b94;
  box-shadow: 0.2em 0.2em 1em #dae5e9;
  cursor: pointer;
}
.button-info {
  font-size: 1.3em;
  color: rgb(226, 231, 223);
}
